.nav_bar{
        padding: 0.2em 1em;
        color:black;
}

a.NavLink{
    font-weight: 40px;
    hover:hand;
}

#header-tabs{
    padding:30px;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    color:black;

}

@media screen and (max-width:580px){
    #header-tabs{ 
        padding:10px 10px;
        font-size:12px;
        box-align:right;
    }
}
.active_nav{
    color:blue;
    border-bottom:1px solid gray;
    cursor: pointer;

}



